* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

header {
    position: relative;
    text-align: center;
}

section {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ff9900, #012947);
}

.container {
    position: relative;
    width: calc(100% - 200px);
    min-height: calc(100vh - 200px);
    min-height: 700px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}


section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50;
    background-color: #000;
    z-index: 1;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5)
}

section .colour {
    position: absolute;
    filter: blur(150px);
}

section .colour:nth-child(1) {
    background: #fc5e02cb;
    width: 400px;
    height: 400px;
    top: -150px;
    right: -50px;
}

section .colour:nth-child(2) {
    background: #2802ff49;
    width: 500px;
    height: 500px;
    top: 100px;
    left: 50px;
}

section .colour:nth-child(3) {
    background: #00c3ff2c;
    width: 300px;
    height: 300px;
    top: 300px;
    left: 0px;

}