h2, h3{
    text-align: center;

}

h4 {
    text-align: center;
    
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 74%;
}
.badge{
    width: 100%;
}