h4 {
font-size:large ;
    font-style: italic;
    font-weight: bold;
    color: black;
    text-align: center;
}

.image {
    background-color: transparent !important;
}

h6{
    font-weight: bold;
    color:black;
}