.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.rounded-image {
    border-radius: 1rem;
    margin: 2rem 0rem 1rem;
}

.center-screen {
    margin: auto;
    min-width: 400px;
    width: 50%;
    padding: 10px;
}